@import "modern-normalize.css";
:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
/* AFTER RESET */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
:root{
    /* COLORS */
    --backgroundSolid: #0E1016;
    --backgroundGradient: linear-gradient(to bottom, #204E4433, #00000033);
    --h1color: linear-gradient(to bottom, #A9B3B8, #555E62);
    --highlightGrey: #A9B3B8;
    --regularGrey: #555E62;
    --XColor: #00EEC5;
    --OColor: #E6D172;
    /* FONTS */
    font-family: "Hedvig Letters Serif";
    color: var(--regularGrey);
    letter-spacing: 0.2rem;
    --regularSize: 1.33rem;
    --subRegularSize: 0.75rem;
    --midRegularSize: 1rem;
    --mainHeaderSize: clamp(1.4rem, 3vw, 3rem);
    --startButtonSize: 1.7rem;
    --iconSelectSize: 2.5rem;
    --vsSize: 3rem;
    /* OPACITY */
    --unselectedOpacity: 0.15;
}
html, body{
    height: 100%;
    
}
body{
    font-size: var(--regularSize);
    background: var(--backgroundGradient);
    background-color: var(--backgroundSolid);
    background-attachment: fixed;
    position: relative;
}
.mainCont{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: top center;
}
h1{
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    letter-spacing: 0.5rem;
    font-size: var(--mainHeaderSize);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: var(--regularGrey);
    background: var(--h1color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    opacity: 0.8;
    transition: ease 0.6s;
}
h2{
    margin-bottom: 0.3rem;
    letter-spacing: 0.4rem;
    cursor: default;
    transition: 0.6s ease;
}
.shadow{
    opacity: 0;
    width: 2rem;
    display: block;
}
.shadow2{
    margin-right: 0.2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.playerSquare{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundGradient);
    gap: 2rem;
    /* border-image: var(--h1color) 1; */
    padding: 2rem 4rem;
    transition: 0.6s ease;
    position: relative;
    box-shadow: 0 0 0 1px rgba(169,179,184,0.08), 0 8px 32px rgba(0,0,0,0.4), 0 2px 8px rgba(0,0,0,0.3);
}
.corner{
    position: absolute;
    content: " ";
    transition: 0.6s ease;
    width: 20px;
    height: 20px;
    border-color: var(--regularGrey);
    border-style: solid;
    z-index: -1;
}
.tlCorner{
    border-width: 2px 0px 0px 2px;
    top: -2px;
    left: -2px;
}
.trCorner{
    border-width: 2px 2px 0px 0px;
    top: -2px;
    right: -2px;
}
.blCorner{
    border-width: 0px 0px 2px 2px;
    bottom: -2px;
    left: -2px;
}
.brCorner{
    border-width: 0px 2px 2px 0px;
    bottom: -2px;
    right: -2px;
}
.playerSquare:hover .corner{
    width: 40px;
    height: 40px;
    border-color: var(--highlightGrey);
}
.subCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.NameDiffCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NameDiffCont:hover h2{
    color: var(--highlightGrey);
}
#name1, #name2{
    background-color: var(--backgroundGradient);
    border: var(--regularGrey) 0.1rem solid;
    padding: 0.4rem 1rem;
    width: 10rem;
    text-align: center;
    color: var(--highlightGrey);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: var(--midRegularSize);
    transition: 0.3s ease;
}
#name1:focus, #name2:focus{
    outline: none;
    border-color: var(--highlightGrey);
}
#name1:hover, #name2:hover{
    border: var(--highlightGrey) 0.1rem solid;
    transform: scale(1.05);
}
#name1::placeholder, #name2::placeholder{
    font-size: var(--subRegularSize);
    letter-spacing: 0;
}
.TypeCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TypeCont:hover h2{
    color: var(--highlightGrey);
}
.subTypeCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4rem;
}
input[type="radio"] {
    display: none;
}

.typeIcons{
    width: var(--iconSelectSize);
    color: var(--highlightGrey);
    opacity: var(--unselectedOpacity);
    margin-bottom: 0.1rem;
    cursor: pointer;
    user-select: none
}
#robot1:checked + label .robotIcon:hover, #robot2:checked + label .robotIcon:hover{
    transform: none;
    opacity: 1;
}
.typeMargin{
    cursor: pointer;
    margin-top: 0.3rem;
}
.subRegularText{
    font-size: var(--subRegularSize);
    letter-spacing: 0.1rem;
}
#human1:checked + label .humanIcon:hover, #human2:checked + label .humanIcon:hover {
    transform: none;
    opacity: 1;
}
.humanIcon{
    transition: 0.3s ease;
}
.humanSib:hover .humanIcon{
    transform: scale(1.05);
    opacity: 0.6;
}
#human1:checked + label .humanIcon, #human2:checked + label .humanIcon{
    opacity: 1;
}
#human1:checked ~ .humanSib .typeMargin, #human2:checked ~ .humanSib .typeMargin{
    color: var(--highlightGrey);
}
#human1:checked + label .humanText:hover, #human2:checked + label .humanText:hover{
    color: var(--highlightGrey);
}
.humanText{
    transition: 0.3s ease;
}
.humanSib:hover .humanText{
    color: #6B7378FF;
}
#robot1:checked ~ .robotSib .typeMargin, #robot2:checked ~ .robotSib .typeMargin{
    color: var(--highlightGrey);
}
#robot1:checked + label .robotIcon, #robot2:checked + label .robotIcon{
    opacity: 1;
}
#robot1:checked + label .robotIcon:hover, #robot2:checked + label .robotIcon:hover{
    transform: none;
    opacity: 1;
}
#robot1:checked + label .robotText:hover, #robot2:checked + label .robotText:hover {
    color: var(--highlightGrey);
}
.robotText{
    transition: 0.3s ease;
}
.robotIcon{
    transition: 0.3s ease;
}
.robotSib:hover .robotIcon{
    transform: scale(1.05);
    opacity: 0.6;
}
.robotSib:hover .robotText{
    color: #6B7378FF;
}
#human1:checked + .humanSib:hover .humanIcon, #human2:checked + .humanSib:hover .humanIcon {
    transform: none;
    opacity: 1;
}
#robot1:checked + .robotSib:hover .robotIcon, #robot2:checked + .robotSib:hover .robotIcon {
    transform: none;
    opacity: 1;
}
.MarkCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MarkCont:hover h2{
    color: var(--highlightGrey);
}
.centerMark{
    width: 100%;
    text-align: center;
}
.XButton{
    color: var(--XColor);
    opacity: var(--unselectedOpacity);
    display: flex;
    flex-direction: column;
    line-height: 1;
    align-items: center;
    font-size: var(--iconSelectSize);
    width: 4rem;
    transition: 0.3s ease;
}
.XButton div, .OButton div {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    user-select: none;
}
.centerMarkX{
    transition: 0.3s ease;
}
.centerMarkX:hover{
    transform: scale(1.10);
}
.XButton:hover {
    opacity: 0.6;
    text-shadow: 0 0 20px var(--XColor), 0 0 30px var(--XColor);
}
#x1:checked + .XButton, #x2:checked + .XButton{
    opacity: 1;
    text-shadow: 0 0 20px var(--XColor), 0 0 30px var(--XColor);
}
#x1:checked + .XButton .centerMarkX:hover, #x2:checked + .XButton .centerMarkX:hover{
    transform: none;
    opacity: 1;
}
#x1:checked + .XButton .shadow, #x2:checked + .XButton .shadow{
    transition: 0.6s ease;
    opacity: 1;
}
.OButton{
    color: var(--OColor);
    opacity: var(--unselectedOpacity);
    display: flex;
    flex-direction: column;
    line-height: 1;
    align-items: center;
    font-size: var(--iconSelectSize);
    width: 4rem;
    transition: 0.3s ease;
}
.centerMarkO{
    transition: 0.3s ease;
}
.centerMarkO:hover{
    transform: scale(1.10);
}
.OButton:hover {
    opacity: 0.6;
    text-shadow: 0 0 20px var(--OColor), 0 0 30px var(--OColor);
}
#o1:checked + .OButton, #o2:checked + .OButton{
    opacity: 1;
    text-shadow: 0 0 20px var(--OColor), 0 0 30px var(--OColor);
}
#o1:checked + .OButton .centerMarkO:hover, #o2:checked + .OButton .centerMarkO:hover{
    transform: none;
    opacity: 1;
}

#o1:checked + .OButton .shadow, #o2:checked + .OButton .shadow{
    transition: 0.6s ease;
    opacity: 1;
}

.vsCont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: 0.6s ease;
}
.vsCont:hover{
    transform: scale(1.1);
    color: var(--highlightGrey);
}
.vsText{
    font-size: var(--vsSize);
    cursor: default;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.vsLine{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.startButton{
    background-color: var(--backgroundGradient);
    color: var(--regularGrey);
    letter-spacing: 0.3rem;
    padding: 0.5rem 3rem;
    font-size: var(--startButtonSize);
    margin-bottom: 3rem;
    margin-top: 3rem;
    transition: 0.6s ease;
    border: none;
    box-shadow: 0 0 0 1px rgba(169,179,184,0.08), 0 8px 32px rgba(0,0,0,0.4), 0 2px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    position: relative;
    width: 250px;
    
}
.startButton:hover{
    color: var(--highlightGrey);
    transform: scale(1.1);
}
.corner2{
    position: absolute;
    content: " ";
    transition: 1.5s ease;
    width: 25px;
    height: 50px;
    border-color: var(--regularGrey);
    border-style: solid;
    z-index: -1;
}
.startButton:hover .corner2{
    width: 127px;
    border-color: var(--highlightGrey);
}

@media (min-width: 768px){
    
}
@media (min-width: 1024px){
    .mainCont{
        zoom: 1;
    }
    .vsCont{
        margin: 0rem 3rem;
    }
    main{
        flex-direction: row;
    }
    .startButton{
        margin-top: 4rem;
    }
    h1{
        letter-spacing: 1rem;
    }
}

@media (min-width: 1440px) {
    .mainCont {
        zoom: 1.4;
    }
}
/* background faded Xs and Os, effect on tictac hover*/